@import url('https://fonts.googleapis.com/css2?family=SN+Pro:ital,wght@0,200..900;1,200..900&display=swap');


#main {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    height: 300px;
    width: 500px;
    border-radius: 10px;
    overflow: hidden;
    background: #0c0c0c;
    z-index: 1000000000;
}

#main * {
    margin: 0;
    padding: 0;
    user-select: none;
    caret-color: transparent;
    color: #fff;
    font-family: "SN Pro", "sans-serif";
    scrollbar-width: thin;
    scrollbar-color: #3b3b3b #0c0c0c;
}

/* Navbar */

nav {
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
}

#navbar {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    height: 50px;
    width: 100%;
    overflow-x: scroll;
}

#navbar li {
    margin-left: 10px;
    padding: 4px 15px;
    border: 2px solid white;
    border-radius: 10px;
    list-style: None;
    transition: 200ms;
    cursor: pointer;
}

#navbar li:hover, #navbar li.active {
    background: rgba(255, 255, 255, 0.1);
    transform: scale(1.03);
}

nav div {
    height: 100%;
    width: 55.55px;
    float: right;
}

nav img {
    height: 80%;
    margin: 10% !important;
}

/* Menu */

#menu-container {
    position: absolute;
    top: 50px;
    height: 250px;
    width: 100%;
    overflow-y: scroll;
}

#menu-container div.menu {
    display: none;
    min-height: 77%;
    margin: 5% 20px;
    border: 3px solid white;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.05);
}

#menu-container div.menu.active {
    display: block;
}

.entry {
    height: 40px;
    width: 95%;
    margin: 5px 2.5% !important;
    border: 2px solid white;
    border-radius: 10px;
    appearance: textfield;
    outline: none;
    caret-color: white !important;
    font-size: 15px;
    transition-duration: 200ms;
    background: rgba(0, 0, 0, 0.6);
}

.entry:hover {
    background: rgba(255, 255, 255, 0.1);
    scale: 1.02;
}

.btn {
    height: 40px;
    width: 95%;
    margin: 5px 2.5% !important;
    border: 2px solid white;
    border-radius: 10px;
    outline: none;
    font-size: 16px;
    transition-duration: 200ms;
    background: rgba(0, 0, 0, 0.6);
}

.btn:hover {
    background: rgba(255, 255, 255, 0.1);
    scale: 1.02;
}

/* CSS HUB */

#script-container {
    display: flex;
    flex-direction: column;
}

.script {
    position: relative;
    height: 70px;
    width: 95%;
    margin: 5px 2.5% !important;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.script p {
    font-size: 13px;
    color: #797979 !important;
}

.script button {
    position: absolute;
    top: 10px;
    right: 5%;
    height: 50px;
    width: 50px;
    border: none;
    border-radius: 10px;
    transition-duration: 200ms;
    cursor: pointer;
    background: rgb(26, 175, 26);
}

.script button:hover {
    background: rgb(26, 192, 26);
    scale: 1.05;
}

/* NOTIFICATION */

#notifications {
    position: absolute;
    bottom: 5px;
    left: 5px;
    display: flex;
    height: 420px;
    flex-direction: column-reverse;
    overflow: hidden;
    z-index: 1000000001;
}

.notification {
    display: flex;
    height: 50px;
    width: 300px;
    margin-top: 5px;
    padding: 15px 0;
    border-radius: 10px;
    color: white;
    opacity: 0;
    transition: 500ms;
    background: #0c0c0c;
}

.notification * {
    margin: 0;
    font-family: "SN Pro", "sans-serif";
}

.icon {
    display: flex;
    align-items: center;
    text-align: center;
    height: 50px;
    width: 50px;
    border-radius: 5px;
    margin: 0 5px;
}

.icon.error {
    background: red;
}

.icon.problem {
    background: orange;
}

.icon.succes {
    background: #16c016;
}

.icon h2 {
    width: 100%;
    text-align: center;
    user-select: none;
}

.notification p {
    font-size: 12px;
    color: #797979;
}
